<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.RentOrderMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加租赁订单记录 -->
	<insert id="addRentOrder" parameterType="rentOrder">
		insert into t_rentOrder(userObj,productObj,rentCount,rentDate,days,returnDate,totalMoney,orderStateObj,orderTime,receiveName,telephone,address,wuliu,orderMemo) values 
		(#{userObj.user_name},#{productObj.productId},#{rentCount},#{rentDate},#{days},#{returnDate},#{totalMoney},#{orderStateObj},#{orderTime},#{receiveName},#{telephone},#{address},#{wuliu},#{orderMemo})
	</insert>

	<!-- 按照查询条件分页查询租赁订单记录 -->
	<select id="queryRentOrder" resultMap="rentOrderMap" >
		select t_rentOrder.* from t_rentOrder,t_product,t_userInfo ${where} and t_rentOrder.userObj = t_userInfo.user_name and t_rentOrder.productObj = t_product.productId limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="rentOrderMap" type="rentOrder">
        <id property="orderId" column="orderId" />
        <association property="userObj" column="userObj" select="com.chengxusheji.mapper.UserInfoMapper.getUserInfo" />
        <association property="productObj" column="productObj" select="com.chengxusheji.mapper.ProductMapper.getProduct" />
    </resultMap>

    <!-- 按照查询条件查询所有租赁订单记录 -->
	<select id="queryRentOrderList" resultMap="rentOrderMap" >
		select t_rentOrder.* from t_rentOrder,t_product,t_userInfo ${where} and t_rentOrder.userObj = t_userInfo.user_name and t_rentOrder.productObj = t_product.productId
	</select>

    <!-- 按照查询条件的租赁订单记录数 -->
	<select id="queryRentOrderCount" resultType="int">
		select count(*) from t_rentOrder,t_product,t_userInfo ${where} and t_rentOrder.userObj = t_userInfo.user_name and t_rentOrder.productObj = t_product.productId
	</select>

	<!-- 根据主键查询某个租赁订单记录 -->
	<select id="getRentOrder" parameterType="int" resultMap="rentOrderMap">
		select * from t_rentOrder where t_rentOrder.orderId = #{orderId}
	</select>

	<!-- 更新租赁订单记录 -->
	<update id="updateRentOrder" parameterType="rentOrder">
		update t_rentOrder set userObj=#{userObj.user_name},productObj=#{productObj.productId},rentCount=#{rentCount},rentDate=#{rentDate},days=#{days},returnDate=#{returnDate},totalMoney=#{totalMoney},orderStateObj=#{orderStateObj},orderTime=#{orderTime},receiveName=#{receiveName},telephone=#{telephone},address=#{address},wuliu=#{wuliu},orderMemo=#{orderMemo} where orderId = #{orderId}
	</update>

	<!-- 删除租赁订单记录 -->
	<delete id="deleteRentOrder" parameterType="int">
		delete from t_rentOrder where orderId=#{orderId}
	</delete>

</mapper>
